# Environment variables
.env

# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

**/.DS_Store
.DS_Store